.post
  %h2
    = link_to post do
      %span.title
        - if post.root?
          = post.title
        - else
          = post.root.title
      - if with_username
        %span.username
          - if post.root?
            &larr;
          - else
            &crarr;
          = post.user.username
  = simple_format post.body
  %p
    - if logged_in? and post.user == current_user
      = link_to "edit", edit_post_path(post)
