!!!
%html
  %head
    %title Minimal
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.clearfix
      %ul.clearfix
        %li.title
          = link_to "postrface", root_path
        %li= link_to "write", new_post_path
        - if logged_in?
          %li= link_to "me", current_user
          %li= link_to "logout", logout_path
        - else
          %li= link_to "login", login_path
      %ul#writers
        - for writer in @writers
          - if writer.posts.any?
            %li
              = link_to writer do
                %span.username= writer.username
                %span.postname= writer.posts.first.title
    %section#content
      = yield
