!!!
%html
  %head
    %title Minimal
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %ul.clearfix
        - if logged_in?
          %li
            = link_to "VIMBLE", users_path
            &#x2192;
            = link_to current_user.username, current_user
          %li= link_to "write new", new_post_path
        - if logged_in?
          %li= link_to "Log out", logout_path
        - else
          %li= link_to "Log in", login_path
    %section#content
      = yield
